
{% extends 'base.html' %}
{% block head %}
	<script  src="http://code.jquery.com/jquery-1.9.1.min.js" ></script>

	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
		td:nth-child(1):hover, td:nth-child(2):hover {
			background-color: #0cc;
		}

		#id-subject {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#left, #right {
			display: flex;
			align-items: center;
		}
		#form_comment {
			display: none;
		}
	</style>

{% endblock %}

{% block body %}
<div class="container">
	<div id="id-subject">
		<div id="left">
			<h1> &nbsp;&nbsp;{{ data.subject }} </h1>
		</div>
		<div id="right">
			<!-- <i id="commment_icon" style="font-size:48px" class="fa">&#xf0e5;</i> -->
			<button id="btn_comment" type="button" class="btn btn-outline-primary">comment</button>
			<p> Status : <span style="font-weight: bold;">{{ data.status }} </span> </p>
			<p> &nbsp;&nbsp;&nbsp;&nbsp;Priority : <span style="font-weight: bold;">{{ data.priority }} </p>
		</div>
	</div>
	<p> {{ data.created_date }} </p>
	{% csrf_token %}
	<form id="form_comment" method="POST" action="{% url 'ticket:info' %}">
	  <!-- <div class="form-group">
	    <label for="comment_below">Comment Below</label>
	    <textarea id="comment_section" class="form-control" rows="3"></textarea>
	    <input type="submit" name="Submit" />
	  </div> -->
	  	{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="Submit" />
	</form>
	{% for comment in comments %}
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <p class="comments">{{ comment.message }}</p>
	  </div>
	</div>
	{% endfor %}
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <p class="ticket">{{ data.description }}</p>
	  </div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$("#btn_comment").click(function(){
			$("#form_comment").toggle();
			$("#comment_section").val('');
		});
		if(!$("#form_comment").is(':hidden')) {
			console.log('apple');
		}
	});
</script>
{% endblock %}