
{% extends 'base.html' %}
{% block head %}
	<!-- <script src="jquery-3.3.1.min.js"></script> -->
	<script  src="http://code.jquery.com/jquery-1.9.1.min.js" ></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
		td:nth-child(1):hover, td:nth-child(2):hover {
			background-color: #0cc;
		}
		tr div:hover {
			background-color: #occ;
		}
		#myTable tr td {
			cursor: pointer;
		}
	</style>

{% endblock %}

{% block body %}
{% csrf_token %}
<div class="container">
	<form method="POST" action="">
		{% csrf_token %}
		<input type="text" name="q" placeholder="Search Subject or ID" />
		<input type="submit" placeholder="Search" />
	</form>
	<table id="myTable" class="table table-striped table-hover">
		<tr>
			<th scope="col"> ID <i class="fa fa-fw fa-sort"></i> </th>
			<th scope="col"> Subject </th>
			<th scope="col"> Assigned To </th>
			<th scope="col"> Date </th>
			<th scope="col"> Status </th>
			<th scope="col"> Owner </th>
		</tr>
	{% for ticket in data %}
		<tr id="pk-{{  ticket.pk }}" data-id-type="{{ ticket.pk }}" class="clickable-row" data-href="../info">
			<td> <b>#</b> {{ ticket.pk }} </td>
			<a><td> {{ ticket.subject }} </td></a>
			<a><td> {{ ticket.assigned_to }} </p></a>
			<a><td> {{ ticket.created_date }} </td></a>
			<a><td> {{ ticket.status }} </td></a>
			<a><td> {{ ticket.ticket_owner }} </td></a>
		</tr>

	{% endfor %}
	</table>
</div>
<script>
    $(document).ready(function(){

        $('#myTable tr').click(function(){
        	var rowNum = parseInt( $(this).index() );
        	var regexName = /^pk-[0-9]*$/;
        	var data = $(this).attr('data-id-type');
        	//console.log(data)
        	//url
        	$.post('../info/',
        		{	id: data,
        			csrfmiddlewaretoken: '{{ csrf_token }}'
        		},
        		function(){
                       // window.location.href = response.redirect;
            });
            /*url = $(this).attr('data-href');
            console.log(url);
            window.location.replace(url);*/
        });
    });

    function redirectPost(url, data) {
	    var form = document.createElement('form');
	    document.body.appendChild(form);
	    form.method = 'post';
	    form.action = url;
	    for (var name in data) {
	        var input = document.createElement('input');
	        input.type = 'hidden';
	        input.name = name;
	        input.value = data[name];
	        form.appendChild(input);
	    }
    form.submit();
	}
</script>
{% endblock %}